aside {
    top: 3rem;
    height: calc(100vh - 3rem);
    position: sticky;
    align-self: start;
    background-color: #4b7fe0;
    color: white;
    grid-area: sidebar;
}

aside ul {
    list-style-type: none;
    padding: 0;
}

aside ul li {
    margin: 10px 0;
    border-radius: 20px;
    padding: 10px;
}

aside ul li:hover {
    background-color: #749ce6;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "header header"
    "sidebar main"
    "sidebar footer";
    font-family: Arial, Helvetica, sans-serif;

}
footer {
    color: black;
    text-align: center;
    grid-area: footer;
    padding: 2em;
}


*{
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
    grid-area: main;
}

nav{
    height: 3rem;
    top: 0;
    position: sticky;
    grid-area: header;
    background-color: #4b7fe0;
    color: white;
    display: flex;
}
nav h2 {
    margin: 0;
    padding: 0.5rem;
    flex-grow: 1;
}

section {
    padding: 50px;
    border-radius: 20px;
    background-color: #f4f4f4;
    margin: auto;
    width: 75%;
    margin-bottom: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.486);
    scroll-margin-top: 110px;
}

.sidebarItems {
    margin-right: 10px;
    text-decoration: none;
    color: #FFFFFF;
}

#toggleButton {
    display: none;
}

@media(max-width: 800px) {
    aside {
        position: fixed;
        width: 300px;
        display: none;  

    }
    body {
        grid-template-columns: 1fr;
    }
    .show{
        display: block;
    }
    #toggleButton {
        font-size: 0.9rem;
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #4b7fe0;
        color: white;
        border: none;
        padding: 10px;
        border-radius: 5px;
    }
    #toggleButton:hover {
        background-color: #749ce6;
    }
}